﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>How Much</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS and Other Resources -->
    <link href="~/App/Views/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/App/Views/css/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic' rel='stylesheet' type='text/css'>  <!-- Google Fonts: Lato  -->
    <link href="~/App/Views/css/style.css" rel="stylesheet" />

    <script src="~/App/Views/js/jquery.min.js"></script>
    <script src="~/App/Views/js/bootstrap.min.js"></script>

    <script src="~/App/Views/js/angular/angular.min.js"></script>
    <script src="~/App/Views/js/angular/angular-animate.min.js"></script>
    <script src="~/App/Views/js/angular/angular-aria.min.js"></script>
    <script src="~/App/Views/js/angular/angular-messages.min.js"></script>
    <script src="~/App/Views/js/angular/angular-resource.min.js"></script>
    <script src="~/App/Views/js/angular/angular-route.min.js"></script>
    <script src="~/App/Views/js/angular/angular-sanitize.min.js"></script>
    <script src="~/App/Views/js/angular/angular-touch.min.js"></script>
    <script src="~/App/Views/js/angular-ui/ui-bootstrap-tpls-0.13.0.min.js"></script>

    <script src="~/App/Views/js/app.js"></script>
    <script src="~/App/Views/js/howmuch/main-factory.js"></script>
    <script src="~/App/Views/js/howmuch/main-controller.js"></script>
    <script src="~/App/Views/js/howmuch/results-controller.js"></script>
</head>
<body class="bg-01" ng-controller="AppCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 mt">

                <!-- Content Start -->
                <header class="row header">


                    <div class="col-md-6">
                        <!-- Caytree Logo and Text -->
                        <div class="cf-logo pull-left"></div>
                        <div class="cf-text">Caytree Financial</div>
                    </div>


                    <div class="col-md-6 text-right">
                        <!-- Sign up -->
                        <button class="btn btn-default btn-sm">Sign in</button>
                    </div>
                </header>

                <div class="row mt-100 text-center">
                    <!-- Where the isht happens -->
                    <div class="col-md-12">
                        <div class="top-logo img-circle">
                            <i class="fa fa-play n-pm"></i>
                        </div>
                    </div>

                    <ng-view></ng-view>

                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function (angular) {
            'use strict';

            angular.module('dataCache', []).factory('preloadedData', [function () {
                return @Html.Raw(ViewBag.PreloadedData as string);
            }]);

        })(angular);
    </script>

</body>
</html>
