﻿<div ng-form="landingForm" ng-show="page.currentPage == 'Landing'">
    <!-- Slider Box -->
    <div class="col-md-6 col-md-offset-3 bd-all bd-brand bd-2 height-md contentContainer pt-lg bg-brand">

        <h1 class="n-pm pbs">How Much</h1>
        <p>How much should you earn? This project helps<br />you to know how much you should earn</p>

        <div class="space-sm"></div>
        <a href="" ng-click="next(landingForm)" class="btn btn-lg btn-default"><h3 class="n-pm">Let's start <i class="fa fa-arrow-right"></i></h3></a>

    </div>

</div>

<div ng-form="ageForm" ng-show="page.currentPage == 'Age'">
    <!-- Slider Box -->
    <div class="col-md-3">
        <a href="" ng-click="prev()" class="prevBtn img-circle"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="col-md-6 bd-all bd-brand bd-2 height-md contentContainer pt-lg bg-brand">

        <h1 class="n-pm pbs">What's your age?</h1>
        <p>Add your age. This information is entered anonymously.</p>

        <div class="space-sm"></div>
        <input class="hmAge" type="number" min="18" max="80" ng-model="model.age" required />

        <a href="#/" class="startOver small">Start over</a>

    </div>
    <div class="col-md-3">
        <a href="" ng-disabled="ageForm.$invalid" ng-click="next(ageForm)" class="nextBtn img-circle"><i class="fa fa-arrow-right"></i></a>
    </div>

</div>


<div ng-form="locationForm" ng-show="page.currentPage == 'Location'">
    <!-- Slider Box -->
    <div class="col-md-3">
        <a href="" ng-click="prev()" class="prevBtn img-circle bd-brand"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="col-md-6 bd-all bd-brand bd-2 height-md contentContainer pt-lg bg-brand">

        <h1 class="n-pm pbs">Where do you live?</h1>
        <p>Where you have lived the past five years.</p>

        <div class="space-sm"></div>
        <div class="col-md-6 col-md-offset-3">
            <select class="form-control" ng-model="model.residenceId" ng-options="location.id as location.name for location in preloadedData.residences" required>
                <option value="">-- Select --</option>
            </select>
        </div>

        <a href="#/" class="startOver small">Start over</a>

    </div>
    <div class="col-md-3">
        <a href="" ng-disabled="locationForm.$invalid" ng-click="next(locationForm)" class="nextBtn img-circle bd-brand"><i class="fa fa-arrow-right"></i></a>
    </div>

</div>


<div ng-form="professionForm" ng-show="page.currentPage == 'Profession'">
    <!-- Slider Box -->
    <div class="col-md-3">
        <a href="" ng-click="prev()" class="prevBtn img-circle bd-brand"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="col-md-6 bd-all bd-brand bd-2 height-md contentContainer pt-lg bg-brand">

        <h1 class="n-pm pbs">What's your profession?</h1>
        <p>How do you build this country? If you don't, then you should start doing just that.</p>

        <div class="space-sm"></div>
        <div class="col-md-6 col-md-offset-3">
            <select class="form-control" ng-model="model.professionId" ng-options="profession.id as profession.name for profession in preloadedData.professions" required>
                <option value="">-- Select --</option>
            </select>
        </div>

        <a href="#/" class="startOver small">Start over</a>

    </div>
    <div class="col-md-3">
        <a href="" ng-disabled="professionForm.$invalid" ng-click="next(professionForm)" class="nextBtn img-circle bd-brand"><i class="fa fa-arrow-right"></i></a>
    </div>


</div>


<div ng-form="recreationForm" ng-show="page.currentPage == 'Recreation'">
    <!-- Slider Box -->
    <div class="col-md-3">
        <a href="" ng-click="prev()" class="prevBtn img-circle bd-brand"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="col-md-6 bd-all bd-brand bd-2 height-md contentContainer pt-lg bg-brand">

        <h1 class="n-pm pbs">What do you do for fun?</h1>
        <p>And we are not talking of side-hustles. We talking of fun stuff you do when you get free time.</p>

        <div class="space-sm"></div>
        <div class="col-md-6 col-md-offset-3">
            <select class="form-control" ng-model="model.recreationId" ng-options="recreation.id as recreation.name for recreation in preloadedData.recreations" required>
                <option value="">-- Select --</option>
            </select>
        </div>

        <a href="#/" class="startOver small">Start over</a>

    </div>
    <div class="col-md-3">
        <a href="" ng-disabled="recreationForm.$invalid" ng-click="next(recreationForm)" class="nextBtn img-circle bd-brand"><i class="fa fa-arrow-right"></i></a>
    </div>
</div>
