﻿                <!-- Slider Box -->
<div class="col-md-6 col-md-offset-3 bd-all bd-brand-alt bd-2 height-md contentContainer bg-brand-alt pt-lg">

    <h1 class="n-pm pb" ng-bind="result.estimatedEarning | currency : 'KES '"></h1>
    <div class="col-md-6 col-md-offset-3">
        <div class="h3 n-pm pb" ng-bind="result.humour"></div>
    </div>

    <div class="space-sm row"></div>
    <div class="col-md-6 col-md-offset-3">
        <p>Sharing is caring...well, sort of. Help your friends to know <strong>how much</strong> they should be earning.</p>
        <ul class="list-unstyled list-inline shareLinks">
            <li>
                <a href="" class="color-fb">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="" class="color-tw">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="" class="color-gp">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        </ul>
    </div>
    <div class="space-sm row"></div>

</div>

