/*
*   Application: Caytree Financial Web App.
*   Description: This theme is for the new dashboard for the web application
*   App URL: https://finance.caytree.com
*
*   Date Created: 24 February 2015
*
*/


/* *****************
    DEFAULT VALUES
   *****************
*/

html h1, html h2, html h3, html h4, html h5, html h6 {
    font-weight: 400;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
ul li a, ul li a:hover, ul li a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
}

.source-sans, * {
    font-family: 'Lato', sans-serif;
}

.n-pm{
    margin: 0;
    padding: 0;
}
.strong{
    font-weight: 700;
}
.text-light{
    font-weight: 300;
}
.va-middle{
    vertical-align: middle;
}


/* ------------ END OF DIFAULT VALUES ------------ */



/*
    **************
    CUSTOM SPACING
    **************
*/

.mw{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.pt {
    padding-top: 15px;
}
.pb {
    padding-bottom: 15px;
}
.pl {
    padding-left: 15px;
}
.pr {
    padding-right: 15px;
}
.pts {
    padding-top: 7px;
}
.pbs {
    padding-bottom: 7px;
}
.pls {
    padding-left: 7px;
}
.prs {
    padding-right: 7px;
}

.ptb {
    padding: 60px 0;
}
.pt-lg{
    padding-top: 60px;
}

.mt {
    margin-top: 15px;
}

.mb {
    margin-bottom: 15px;
}

.ml {
    margin-left: 15px;
}
.mr {
    margin-right: 15px;
}
.mbs {
    margin-bottom: 7px;
}
.mts {
    margin-top: 7px;
}
.mls {
    margin-left: 7px;
}
.mrs {
    margin-right: 7px;
}
.mt-l {
    margin-left: -7px;
}
.mt-s {
    margin-top: -7px;
}
.mt-xs {
    margin-top: -4px;
}
.mtb{
    margin: 60px 0;
}
.mt-50{
    margin-top: 75px;
}
.mt-100{
    margin-top: 100px;
}

.space-xs{
    padding: 15px 0;
}
.space-sm{
    padding: 30px 0;
}
.space-md{
    padding: 60px 0;
}
.space-lg{
    padding: 120px 0;
}

.fw{
    width: 100%;
}

/* Height Vars */
.height-xs{
    min-height: 170px;
    overflow-y: auto;
}
.height-sm{
    min-height: 300px;
    overflow-y: auto;
}
.height-md{
    min-height: 375px;
    overflow-y: auto;
}
.height-lg{
    min-height: 450px;
    overflow-y: auto;
}

/* ------------ END OF CUSTOM SPACING ------------ */



/*
    *******
    BORDERS
    *******
*/
.bd{
    border-style: solid;
    border-radius: 4px;
}
.bd-t{
    border-top-style: solid;
    border-radius: 4px;
}
.bd-b{
    border-bottom-style: solid;
    border-radius: 4px;
}a
.bd-l{
    border-left-style: solid;
    border-radius: 4px;
}
.bd-r{
    border-right-style: solid;
    border-radius: 4px;
}

.bd-1{
    border-width: 1px;
}
.bd-2{
    border-width: 2px;
}
.bd-3{
    border-width: 3px;
}
.bd-4{
    border-width: 4px;
}
.bd-5{
    border-width: 5px;
}
.bd-all{
    border: solid;
    border-radius: 8px;
}


/*  Border Color */
.bd-brand{
    border-color: #2B729E;
}
.bd-highlight{
    border-color: #0487D9;
}
.bd-brand-alt{
    border-color: #029C03;
}
.bd-grey{
    border-color: #c6c5c5;
}
.bd-light-grey{
    border-color: #d6d6d6;
}


.divider-light{
    border-bottom: #eee solid 1px;
    padding-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.divider-dark{
    border-bottom: #aaa solid 1px;
}



/* Background Color */
.brand-bg, .theme-bg, .brand-bg-business, .brand-bg-alt .topBar ul li a:hover{
    background-color: #2B729E;
    color: #fff;
}
.bg-brand{
    background-color: #2B729E;
    color: #fff;
}
.brand-bg-alt, .brand-bg-personal, .brand-bg .topBar ul li a:hover{
    background-color: #029C03;
    color: #fff;
}
.bg-brand-alt{
    background-color: #029C03;
    color: #fff;
}
.bg-brand-orange{
    background-color: #FA8144;
    color: #fff;
}
.bg-brand-red{
    background-color: #FA8144;
    color: #fff;
}

/*  Brand Grey: #aaa */
.bg-grey{
    background-color: #aaa;
}
.bg-light-grey{
    background-color: #efefef;
}
.bg-light-blue{
    background-color: #c5f2ff;
}


.red, .text-danger, .text-red {
    color: #CE4844;
}
.green, .text-success, .text-green {
    color: #029C03;
}

/*
    *********************
    INDIVIDUAL PROPERTIES
    *********************
*/
body{
    background: #fafafa url('../images/bg-img-09.jpg') no-repeat;
    background-size: cover;
}
.cf-text{
    color: #fff;
}
.contentContainer{
    z-index: 100;
    position: relative;
    color: #fff;
}
.top-logo{
    margin-bottom: -50px;
    text-align: center;
    color: #2B729E;
    font-size: 36px;
    z-index: 1000;
    display: inline-block;
    color: #fff;
    position: relative;
}

/* Input */
.hmAge{
    border: none;
    padding: 15px 0;
    margin: 0;
    border-bottom: #fff solid 1px;
    background: none;
    font-size: 30px;
    color: #fff;
    display: inline;
    width: 75px;
    text-align: center;
}
.nextBtn{
    position: absolute;
    top: 140px;
    left: -55px;
    font-size: 36px;
    text-align: center;
    background: #fff;
    padding: 15px 25px;
    color: #000;
    z-index: 1000;
    display: block;
    border: #2B729E solid 2px;
}
.prevBtn{
    position: absolute;
    top: 165px;
    right: -30px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    padding: 10px 15px;
    color: #000;
    z-index: 1000;
    display: block;
    border-style: solid;
    border-width: 2px;
}

.shareLinks{
    font-size: 20px;
}
.color-fb{
    color: #3a5795;
}
.color-tw{
    color: #55acee;
}
.color-gp{
    color: red;
}
.color-fb:hover, .color-tw:hover, .color-tw:hover{
    color: #2B729E;
}
.shareLinks ul li{
    margin: 0 15px;
}

.startOver{
    position: absolute;
    bottom: 10px;
    left: 15px;
    border-bottom: #fff solid 1px;
    padding-bottom: 2px;
    color: #fff;
}
.startOver:hover{
    color: #fff;
}


.btn-disabled{
    background: #ccc;

}
input.warning{
    background: red;
    border-bottom: red solid 1px;
    color: #ff;
}